@using JustSending.Data
@using JustSending;
@using Microsoft.AspNetCore.Mvc.Rendering
@model System.Collections.Generic.IEnumerable<Message>
@{
    Layout = null;
}

@foreach (var message in Model)
{
<div class="msg">
    <div class="time" title="@message.DateSent.ToString("R")" data-val="@message.DateSent.ToString("u")">
        <i class="fa fa-clock-o"></i> <span class="val">@message.DateSent.ToString()</span>
        <span data-id="@message.Id" class="source btn btn-info" title="View Original Text"><i class="fa fa-code"></i></span>
    </div>
    <div class="content">
    @if(message.HasFile){
        <div class="file">
            <i class="fa fa-2x fa-paperclip"></i> @message.Text
            <br/>
            <a class="btn btn-success download" 
                asp-controller="App" 
                asp-action="DownloadFile" 
                asp-route-sessionId="@message.SessionId" 
                asp-route-id="@message.Id"
                asp-route-fileName="@message.Text"
                target="_blank"><i class="fa fa-download"></i> Download (@Helper.ToFileSizeString(message.FileSizeBytes))</a>
        </div>
    } else {
        <div class="text">
            @Html.Raw(CommonMark.CommonMarkConverter.Convert(message.Text))
        </div>
    }
    </div>
</div>
}