@using JustSending.Services
@model System.Collections.Generic.ICollection<JustSending.Data.Models.Message>
@{
    Layout = null;
    bool liteMode = false;
    if (bool.TryParse(ViewData["LiteMode"]?.ToString(), out var lm))
    {
        liteMode = lm;
    }

}

@foreach (var message in Model)
{
    <div class="msg-c" data-seq="@message.DateSentEpoch" style="border: 1px solid #ddd;">
        @if (message.IsNotification)
        {
            <div class="alert alert-dismissible alert-warning notif" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <i class="fa fa-info-circle"></i> @Html.Raw(message.Text)
            </div>
        }
        else
        {
            <div class="msg" data-id="@message.Id" data-key="@message.EncryptionPublicKeyAlias">
                <div class="time" title="@message.DateSent.ToString("R")" data-val="@message.DateSent.ToString("u")">
                    <i class="fa fa-clock-o"></i> <span class="val h-nojs">@message.DateSent.ToString()</span><noscript><span
                            class="val">@(new DateTime(message.DateSent.Ticks).ToShortTimeString())</span></noscript>
                    @if (!message.HasFile && !liteMode)
                    {
                        <span data-id="@message.Id" class="source btn btn-info" title="View Original Text"><i
                                class="fa fa-code"></i> Copy</span>
                    }
                </div>
                <div class="content">
                    @if (message.HasFile)
                    {
                        <div class="file">
                            <i class="fa fa-2x fa-paperclip"></i> 
                            @if (string.IsNullOrEmpty(message.EncryptionPublicKeyAlias))
                            {
                                <span class="file-name">@message.Text</span>
                            }
                            else
                            {
                                <span class="file-name data" data-value="@message.Text">😕 Encrypted File</span>
                            }
                            <br />
                            @if (string.IsNullOrEmpty(message.EncryptionPublicKeyAlias))
                            {
                                <a class="btn btn-success download" asp-controller="App" asp-action="DownloadFile"
                                    asp-route-sessionId="@message.SessionId" asp-route-id="@message.Id" target="_blank"><i
                                        class="fa fa-download"></i> Download (@Helper.ToFileSize(message.FileSizeBytes))</a>
                            }
                            else
                            {
                                <button class="btn btn-success download-encrypted" 
                                        data-message-id="@message.Id"
                                        data-session-id="@message.SessionId"
                                        data-public-key-alias="@message.EncryptionPublicKeyAlias"
                                        onclick="JustSendingApp.downloadAndDecryptFile('/app/file/@message.Id/@message.SessionId', '@message.Id', '@message.EncryptionPublicKeyAlias')">
                                    <i class="fa fa-download"></i> Download & Decrypt (@Helper.ToFileSize(message.FileSizeBytes))
                                </button>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="text">
                            @if (string.IsNullOrEmpty(message.EncryptionPublicKeyAlias))
                            {
                                if (Uri.IsWellFormedUriString(message.Text, UriKind.Absolute))
                                {
                                    <a href="@message.Text" rel="noopener" target="_blank">@message.Text</a>
                                }
                                else
                                {
                                    <code>
                                                                                                                        @message.Text
                                                                                                                    </code>
                                }
                            }
                            else
                            {
                                <span class="data" data-value="@message.Text">😕</span>
                            }
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}