@using JustSending.Data
@using JustSending;
@using Microsoft.AspNetCore.Mvc.Rendering
@model System.Collections.Generic.IEnumerable<Message>
@{
    Layout = null;
}

@foreach (var message in Model)
{
<div class="msg-c" data-seq="@message.SessionMessageSequence">
@if(message.IsNotification) {
    <div class="alert alert-warning notif">
        <i class="fa fa-info-circle"></i> @Html.Raw(message.Text)
    </div>
} else {
    <div class="msg" data-key="@message.EncryptionPublicKeyAlias">
        <div class="time" title="@message.DateSent.ToString("R")" data-val="@message.DateSent.ToString("u")">
            <i class="fa fa-clock-o"></i> <span class="val">@message.DateSent.ToString()</span>
            @if(!message.HasFile) {
            <span data-id="@message.Id" class="source btn btn-info" title="View Original Text"><i class="fa fa-code"></i> Copy</span>
            }
        </div>
        <div class="content">
        @if(message.HasFile){
            <div class="file">
                <i class="fa fa-2x fa-paperclip"></i> <span class="data" data-value="@message.Text"></span>
                <br/>
                <a class="btn btn-success download" 
                    asp-controller="App" 
                    asp-action="DownloadFile" 
                    asp-route-sessionId="@message.SessionId" 
                    asp-route-id="@message.Id"
                    asp-route-fileName="@message.Text"
                    target="_blank"><i class="fa fa-download"></i> Download (@Helper.ToFileSizeString(message.FileSizeBytes))</a>
            </div>
        } else {
            <div class="text">
                <span class="data" data-value="@message.Text"></span>
            </div>
        }
        </div>
    </div>
}
</div>
}