@model JustSending.Models.SessionModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration config
@{
    ViewBag.Title = "Sharing session";
}
@section AboveBody {
    <div class="jumbotron session">
        <div class="container">
            <div class="conversation">
                <div class="composer">
                    <form id="form"
                          asp-action="Post"
                          asp-controller="App"
                          data-max-b="@config["MaxUploadSizeBytes"]"
                          data-max-display="@config["MaxUploadSizeDisplay"]"
                          method="POST">

                        <div class="input-group input-group-lg">
                            @Html.TextAreaFor(x => x.ComposerText, new { @class = "form-control", placeholder = "Send file, text, URL etc. (Ctrl+Enter to send)", onfocus = "this.select()" })
                            <span class="input-group-btn hidden-xs">
                                <partial name="_ActionButtons"/>
                            </span>
                        </div>
                        <div class="bg btn-group hidden-sm hidden-md hidden-lg" role="group" aria-label="Action buttons">
                            <partial name="_ActionButtons" />
                        </div>
                        @Html.ValidationMessageFor(x => x.ComposerText)
                        <input id="file" name="file" type="file" style="display: none;" />

                        @Html.HiddenFor(x => x.SessionId)
                        @Html.HiddenFor(x => x.SessionVerification)
                        @Html.HiddenFor(x => x.SocketConnectionId)
                        @Html.HiddenFor(x => x.EncryptionPublicKeyAlias)
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="share" class="jumbotron sticky-footer">
        <div class="container">
            <div class="share-actions">
                <a id="shareBtn" href="#" class="btn btn-success pull-left">Connect another Device</a>
                <a id="deleteBtn" href="#" class="btn btn-danger pull-right" title="Finish and Erase Everything"><i class="fa fa-trash-o"></i></a>
                <span id="connectedDevices" class="btn btn-warning" title="Number of devices connected"><span class="badge">2</span></span>
                <div class="clearfix"></div>
            </div>
            <div class="connect-instruction-panel row">
                <div class="col-sm-7 col-xs-12" style="margin-bottom: 5px;">
                    <h1 title="Use this PIN to securely connect to this session from another device"><i class="fa fa-lock text-"></i>&nbsp;<span id="token">&nbsp;</span> <a href="#" class="cancelShareBtn btn btn-wide btn-danger hidden-xs" title="Dispose this PIN">Cancel</a></h1>
                    <a href="#" class="cancelShareBtn btn btn-block btn-danger hidden-sm hidden-md hidden-lg" title="Dispose this PIN">Cancel</a>
                </div>
                <div class="col-sm-5 hidden-xs">
                    <div class="instruction">
                        <partial name="_ConnectInstructions" />
                    </div>
                </div>
            </div>

        </div>
    </div>
}
<div id="conversation">
    <div id="please-wait" style="display: none;">
        <div class="alert alert-danger">
            <span id="status">Sending, please wait...</span> <strong id="percent"></strong>
        </div>
    </div>

    <div id="conversation-list">
    </div>

    <div class="welcome-note">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2>Connect another Device</h2>
            <div class="share-actions">
                Click <strong>Connect another Device</strong> on the panel at the bottom of the screen to generate an unique PIN to let other device connect.
            </div>
            <div class="connect-instruction-panel">
                
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                            <li>On another device, Scan the QR Code.</li>
                            <li>Or, go to <a style="font-weight: bold;" href="@Context.Request.Scheme://@Context.Request.Host" target="_blank">@Context.Request.Scheme://@Context.Request.Host</a></li>
                            <li>Click CONNECT</li>
                            <li>Use the <i class="fa fa-lock"></i> PIN (usually 6 digit number) you see at the bottom of this screen!</li>
                            <li>Start sharing between connected devices!</li>
                            <li>Close this window from all devices to erase everything shared here.</li>
                        </ul>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="qr-wrapper">
                            <div id="qr-code"></div>
                        </div>
                    </div>
                </div>
                
            </div>
            <hr />
            A PIN can be used to connect exactly one device. Generate multiple PIN to connect more devices.
        </div>
    </div>
</div>

<div id="sourceModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Original Text</h4>
            </div>
            <div class="modal-body">
                <textarea id="source-pre"
                          readonly="readonly"
                          class="form-control"
                          onfocus="this.select()"
                          rows="10"
                          style="width: 100%;max-width: 100%;font-family: monospace;">

        </textarea>
            </div>
            <div class="modal-footer">
                <button onclick="return JustSendingApp.copySource();" class="btn btn-success"><i class="fa fa-copy"></i> Copy</button>
            </div>
        </div>
    </div>
</div>
<noscript>
    
    <div class="alert alert-danger">
        <p>
            Please use the lite version as your device isn't compatible with the rich experiences.
        </p>
        <hr/>
        <a asp-action="LiteSession" asp-route-id1="@Model.SessionId" asp-route-id2="@Model.SessionVerification" class="btn btn-danger btn-block">Take me to the lite experience</a>
    </div>
</noscript>
@section Scripts
{
    @*
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js" integrity="sha256-Lj47JmDL+qxf6/elCzHQSUFZmJYmqEECssN5LP/ifRM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js" integrity="sha256-g1QKGxqsp+x5JkuN/JjHl96je2wztgS5Wo4h4c7gm9M=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha256-2Pjr1OlpZMY6qesJM68t2v39t+lMLvxwpa8QlRjJroA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.9/linkify.min.js" integrity="sha256-b8aRDYEOoOLGpyaXMI3N2nWUbjSeQ2QxzKjmPnCa4yA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-linkify/2.1.9/linkify-jquery.min.js" integrity="sha256-F70q7AGz3CYOo2UIkomPSg5xAnO52dJ646kytZ7lSEQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.0/autosize.min.js" integrity="sha256-F7Bbc+3hGv34D+obsHHsSm3ZKRBudWR7e2H0fS0beok=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bignumber.js/4.0.4/bignumber.min.js" integrity="sha256-MomdVZFkolQP//Awk1YjBtrVF1Dehp9OlWj5au4owVo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.7/sjcl.min.js" integrity="sha256-dFf9Iqsg4FM3OHx2k9aK6ba1l28881fMWFjhMV9MB4c=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@aspnet/signalr@@1.0.4/dist/browser/signalr.min.js" integrity="sha256-51sQPE7Pj6aicVoT5i+HOaNgW7s+3i9xGiEUCwhVvVM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha256-xUHvBjJ4hahBW8qN9gceFBibSFUzbe9PNttUvehITzY=" crossorigin="anonymous"></script>
    <script src="~/js/JustEncrypt.js" asp-append-version="true"></script>
    <script src="~/js/JustSendingApp.js" asp-append-version="true"></script>
    *@

    <script type="text/javascript" src="~/js/combined-session.min.js" asp-append-version="true" integrity="sha384-jBiancW5bLVcfrRgbFjTnW0gMd1NvWBX+G39J0lBsppc0vxAhHrax1m2jtQQQnSj" crossorigin="anonymous"></script>

    <script type="text/javascript">
        (function() {
            try {
                if(!window.Promise) {
                    throw "Browser does not support Promise()";
                }
                JustSendingApp.init();
            } catch (ex) {
                var id = get("SessionId").value;
                var id2 = get("SessionVerification").value;

                var data = new FormData();
                
                data.append("id", id);
                data.append("id2", id2);

                execute_xhr("POST", "/app/lite/notify/unsupported-device", function () {

                }, data);

                if (is_dev())
                    document.body.text = JSON.stringify(ex);
                else {
                    setTimeout(function () {
                        window.location.href = "/app/lite/" + id + "/" + id2;
                    }, 500);
                }
            }
        })();
    </script>
    <noscript>
        <style>
            .h-nojs {
                display: none;
            }
        </style>
    </noscript>
}
@section Head
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/embed-js/4.2.3/embed.min.css" />
}
